BR2_arm=y
BR2_arm926t=y
BR2_JLEVEL=4
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TARGET_GENERIC_HOSTNAME="crystalfontz"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_FBV=y
BR2_PACKAGE_FREETYPE=y
BR2_PACKAGE_TSLIB=y
BR2_PACKAGE_DHCP=y
BR2_PACKAGE_DHCP_CLIENT=y
BR2_TARGET_BAREBOX=y
BR2_TARGET_BAREBOX_CUSTOM_TARBALL=y
BR2_TARGET_BAREBOX_CUSTOM_TARBALL_LOCATION="http://www.barebox.org/download/barebox-2012.09.0.tar.bz2"
BR2_TARGET_BAREBOX_BOARD_DEFCONFIG="cfa10036"
BR2_TARGET_MXS_BOOTLETS=y
BR2_TARGET_MXS_BOOTLETS_CUSTOM_TARBALL=y
BR2_TARGET_MXS_BOOTLETS_CUSTOM_TARBALL_URL="https://github.com/crystalfontz/bootlets/tarball/master/crystalfontz-bootlets-c347095.tar.gz"
BR2_TARGET_MXS_BOOTLETS_HAS_IVT=y
BR2_TARGET_MXS_BOOTLETS_CUSTOM_BOARD=y
BR2_TARGET_MXS_BOOTLETS_CUSTOM_BOARD_NAME="cfa10036"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://github.com/crystalfontz/cfa_10036_kernel/tarball/cfa-10049-spidev/crystalfontz-cfa_10036_kernel-cfa-10049-spidev.tar.gz"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/crystalfontz/cfa-10049/linux.config"
BR2_LINUX_KERNEL_APPENDED_ZIMAGE=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="imx28-cfa10049"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
